# requirements for doc
# no need to manul install it. (See doc/Makefile)
jinja2<=3.03
pandoc
sphinx
numpydoc
sphinx-rtd-theme
nbsphinx
jupyter-sphinx
sphinxcontrib-programoutput
xradarsat2
git+https://github.com/umr-lops/xarray-safe-rcm.git
git+https://github.com/umr-lops/xarray_safe_s1.git
